{% extends "layout.html" %}

{% block title %}Fabric output{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  <h1>Server response list</h1>
  
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Response</th>
		</tr>
	</thead>
	<tbody>
		{% for response in responseList %}
		<tr>
			{% if 'Error:' in response%}
			<td style="color: red;">{{ response }}</td>
			{% else %}
			<td style="color: green;">{{ response }}</td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>


	</table>
	
  <form method=POST" action="/">
	  <div class="form-group">
		  <input class="btn btn-primary" type="submit" value="Go back">
	  </div>
  </form>
{% endblock %}
